@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@100;400&display=swap');



.navbar{
    font-family: 'Roboto', sans-serif;
}

.navbar-nav{
    margin-left: 10rem;
}

.nav-item{
    padding: 0 2rem 0 2rem;
}

.navBtn{
    background-image: linear-gradient(#EFB411,#FF9500);
    border-radius: 50px;
}

.navbar .nav-link{
    color: blue !important;
}

.navbar .navBtn .text-white{
    color: white !important;
}


.indexHeader{
    font-family: 'Raleway', sans-serif;
    background-image: url(../Images/index-header.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 8rem 3rem 8rem 3rem;
}

.carousel h1{
    font-size: 22px;
    color: white;
    font-weight: 700;
}

.carousel-img{
    width: 100vw;
    height: 100%;
    margin-top: -5rem;
}

.carouselBtn{
    border-radius: 50px;
    color: #FFFA76;
}

.carouselBtn:hover{
    color: #FF9500;
}



footer{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: white;
}

.topFooter{
    background-color: #092B5B;
    color: white;
    text-align: left;
    padding: 4rem 3rem 1rem 3rem;
}

.lowFooter{
    background-image: linear-gradient(#EFB411,#FF9500);
    color: #092B5B;
    font-size: 12px;
    padding: .5rem 0 .5rem 0;
}

.sIcons{
    padding: 0 .5rem 0 .5rem;
}

.lfLeft{
    float: left;
    padding-left: 4rem;
}

.rfRight{
    float: right;
    padding-right: 4rem;
}

@media only screen and (min-width: 768px) {
    .indexHeader{
        font-family: 'Raleway', sans-serif;
        background-image: url(../Images//index-header.png);
        background-position: center;
        background-size: cover;
        margin-bottom: 3rem;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        padding: 15rem 7rem 15rem 7rem;
    }

    .carousel h1{
        font-size: 40px;
    }    

    .carousel-caption{
        top: 90%;
        transform: translateY(-50%);
    }
}

@media only screen and (min-width: 1024px) {
    .indexHeader{
        font-family: 'Raleway', sans-serif;
        background-image: url(../Images//index-header.png);
        background-position: center;
        background-size: 150vw;
        margin-bottom: 3rem;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        padding: 15rem 12rem 15rem 12rem;
    }

    .carousel h1{
        font-size: 60px;
    }    

    .carousel-caption{
        top: 80%;
    }
}