@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
}

.evt_head_img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 82px;
}
.evt_head {
  position: relative;
  width: 100%;
  height: 526px;
  margin-bottom: 10%;
}
.evt_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 72px;
  font-style: normal;
  line-height: 70px;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
/* .evt_body {
  width: 100%;
  padding: 5%;
} */
.evts_images {
  width: 100%;
  height: 424px;
  border-radius: 40px;
}

.cont_div {
  align-self: center;
  text-align: left;
}
.sing_evt {
  padding: 0 15% 5% 15%;
}
.sing_txt {
  color: #a0a0a0;
  font-weight: 400;
  line-height: 22.4px;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato", sans-serif;
}
.evt_but {
  background-image: linear-gradient(90deg, #1f5fbc, #0c397b);
  width: 244px;
  height: 56px;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  border: none;
  transition: box-shadow 0.2s;
}
.evt_but:hover {
  cursor: pointer;
  box-shadow: 2px 3px rgba(24, 23, 23, 0.377);
}
.pag_body {
  text-align: right;
  padding-right: 5%;
  padding-bottom: 5%;
}
.pag-link {
  text-decoration: none;
  padding-right: 10px;
  color: #0c397b;
  font-size: 25px;
  font-weight: 700;
  line-height: 29.3px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .cont_div {
    align-self: center;
    text-align: center;
  }
  .evt_head {
    height: 400px;
  }
  .evts_images {
    height: 350px;
    margin-bottom: 5%;
  }
  .sing_evt {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 15%;
  }
}
