@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@100;400&display=swap');

*{
    box-sizing: border-box;
}

.carousel{
    background-image: none;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0;
}

.landing-section{
    width: 100%;
    position: relative;
    height: 75vh;
    background-image: url('../Images/programs-landing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    border-radius: 0 0 82px 82px;
    padding: 0 25px;
}
.landing-section::after{
    content: '';
    width: 100%;
    background-color: rgba(196, 196, 196, 0.2);
    position: absolute;
    top: 0%;left: 0;right: 0;bottom: 0;
    z-index: -3;
}
.landing-section h1{
    font-weight: 700;
    font-size: 72px;
}
.programs-slider-section{
    width: 100%;
    background-color: rgba(196, 196, 196, 0.2);
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.programs-slider-section .slider{
    width: 100%;
}
.programs-slider-section .slider .slide{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 80px 50px; */
}
/* .programs-slider-section .slider .carousel-item{
    display: none;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 150px;
    align-items: center;
    justify-content: center;
    font-family: Poppins, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
.programs-slider-section .slider .carousel-item.active, .programs-slider-section .slider .carousel-item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 80px;
    align-items: center;
    justify-content: center;
    font-family: Poppins, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.programs-slider-section .slider .carousel-item{
    display: none;
}
.programs-slider-section .slider .carousel-item div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
programs-slider-section .slider .carousel-item .text{
    width: 60%;
}
.programs-slider-section .slider .carousel-item .pic{
    width: 40%;
    /* background-color: aqua; */
}
.programs-slider-section .slider .carousel-item .pic img {
    width: 450px;
}

.programs-slider-section .slider .slide .text{
    flex-direction: column;
    display: flex;
    text-align: left;
    color: #282938;
    line-height: 28px;
    /* background: green; */
    margin-right: 50px;
}
/* .programs-slider-section .slider .slide .pic{
    background: green;
    padding: 0;
} */
.programs-slider-section .slider .slide .text h3{
    color: #20448F;
    width: 100%;
    font-family: Poppins, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: 600;
}
.programs-slider-section .slider .slide .text p{
    font-size: 20px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.others-section{
    width: 100%;
    min-height: 50vh;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: rosybrown; */
}
.others-section div{
    height: 250px;
    margin: 25px;
    /* background-color: antiquewhite;  */
    display: flex;
    align-items: center;
}
.others-section div img{
    height: 220px;
    width: 280px;
}
.contact-section{
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F5FBC;
    flex-wrap: wrap;
}
.contact-section .text, .contact-section button{
    margin: 0 10px;
}
.contact-section .text p{
    color: #fff;
    font-size: 35px;
    font-family: Raleway, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact-section button{
    width: 245px;
    height: 55px;
    border-radius: 100px;
    border: 0;
    background-color: #EFB411;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #07101C;
}
@media only screen and (max-width: 1180px){
    /* .programs-slider-section .slider .slide{
        padding: 100px 0;
    } */
    .programs-slider-section .slider .carousel-item{
        flex-direction: column;
        padding: 100px 50px;
    }
    .programs-slider-section .slider .carousel-item .text{
        margin-bottom: 50px;
        width: 100%;
    }
    
}
@media only screen and (max-width: 991px){
    
    .programs-slider-section .slider .slide .pic img{
        width: 450px;
    }
    .programs-slider-section .slider .carousel-item .text{
        margin-bottom: 50px;
        width: 100%;
    }
    .programs-slider-section .slider .carousel-item div{
        width: 100%;
        margin: 50px 0;
    }
    .programs-slider-section .slider .carousel-item.active, .programs-slider-section .slider .carousel-item{
        padding: 100px 50px;
    }
}
@media only screen and (max-width: 768px){
    .programs-slider-section .slider .slide .pic img{
        width: 380px;
    }
    .contact-section{
        padding: 30px;
    }
    .programs-slider-section .slider .carousel-item .text{
        margin-bottom: 50px;
        width: 100%;
    }
    .programs-slider-section .slider .carousel-item div{
        width: 100%;
        margin: 50px 0;
    }
    .programs-slider-section .slider .carousel-item.active, .programs-slider-section .slider .carousel-item{
        padding: 100px 50px;
    }
}
@media only screen and (max-width: 441px){
    .programs-slider-section .slider .slide .pic img{
        width: 300px;
    }
    .contact-section{
        padding: 30px;
    }
    .programs-slider-section .slider .carousel-item .pic{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* background-color: red; */
    }
    .programs-slider-section .slider .carousel-item .text{
        margin-bottom: 50px;
        width: 100%;
        padding: 0 15px;
        /* background-color: red; */
    }
    .programs-slider-section .slider .carousel-item .text h3{
        font-size: 30px;
    }
    .programs-slider-section .slider .carousel-item div{
        width: 100%;
        margin: 50px 0;
    }
    .programs-slider-section .slider .carousel-item.active, .programs-slider-section .slider .carousel-item{
        padding: 100px 20px;
    }
}
